In Joong Kim A01336967: [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/InJoong/Aprendizaje_Maquina/blob/master/modulo_6/EDA_Pokemon-Ejercicio.ipynb)

Saul Neri Ortiz A01652526: [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/saulneri1998/Machine_Learning/blob/master/EDA_Pokemon.ipynb)

Sergio Ugalde A01336435[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/gist/serch037/db531ad6d9cce2e07ef674046844f21b/eda_pokemon.ipynb?authuser=1)

Fernando Rios A01020706 [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/feriosch/Aprendizaje_Maquina/blob/master/modulo4/EDA_Pokemon.ipynb)

Victor Eduardo Lopez Perez A01336434:

<img src= "https://cdn.bulbagarden.net/upload/8/88/Mission_Guides.png"/>

In [ ]:
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix

import plotly.express as px
import plotly.graph_objects as go

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
pokedex = pd.read_csv('./sample_data/pokedex_(Update_05.20).csv').drop('Unnamed: 0', axis = 1)

columns_to_drop = ['german_name', 'japanese_name']
pokedex = pokedex.drop(columns_to_drop, axis = 1)

In [ ]:
pokedex[['name', 'status', 'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']]

,name,status,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,Normal,318.0,45.0,49.0,49.0,65.0,65.0,45.0
1,Ivysaur,Normal,405.0,60.0,62.0,63.0,80.0,80.0,60.0
2,Venusaur,Normal,525.0,80.0,82.0,83.0,100.0,100.0,80.0
3,Mega Venusaur,Normal,625.0,80.0,100.0,123.0,122.0,120.0,80.0
4,Charmander,Normal,309.0,39.0,52.0,43.0,60.0,50.0,65.0
...,...,...,...,...,...,...,...,...,...
1023,Zacian Hero of Many Battles,Legendary,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1024,Zamazenta Crowned Shield,Legendary,720.0,92.0,130.0,145.0,80.0,145.0,128.0
1025,Zamazenta Hero of Many Battles,Legendary,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1026,Eternatus,Legendary,690.0,140.0,85.0,95.0,145.0,95.0,130.0
1027,Eternatus Eternamax,Legendary,1125.0,255.0,115.0,250.0,125.0,250.0,130.0

# Probemos los modelos...

![img](https://img.pokemondb.net/artwork/melmetal.jpg)

In [ ]:
test = np.array([[580.0,90.0,85.0,100.0,95.0,125.0,85.0]])

<img src="https://images.gameinfo.io/pokemon/256/493-11.png" weidth="400"/>

In [ ]:
test2 = np.array([[720.0,120.0,120.0,120.0,120.0,120.0,120.0]])

## ¿Será legendario Melmetal.... y qué tal Arceus?

## ¿Será?

# Ejercicio

En esta sección deberán realizar un nuevo dataframe, pero considerando las siguientes características (ojo!, ya no son sólo de tipo normal y legendario...)

In [ ]:
pokedex.status.unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

El objetivo ahora será realizar intercambio de la variable categórica "Status" por una nueva que le asigne un número en lugar de texto

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

lb_make.fit(pokedex['status'])
pokedex['labeled_status'] = lb_make.transform(pokedex['status'])

Posteriormente, deberán hacer el procedimiento "normal" para los siguientes algoritmos
* Regresion Logística
* SVM (con kernel rbf - Gaussiano o radial)
* Decision Tree
* Random Forest

In [ ]:
column_filter = ['total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']
scaler = StandardScaler()

X = pokedex[column_filter]
y = pokedex['labeled_status']

(trainX, testX, trainY, testY) = train_test_split(X, y, random_state=3, test_size=0.25)

In [ ]:
regression_model = make_pipeline(scaler, LogisticRegression())

regression_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [ ]:
forest_model = make_pipeline(scaler, RandomForestClassifier(max_depth=10))

forest_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('randomforestclassifier',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=10, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [ ]:
tree_model = make_pipeline(scaler, DecisionTreeClassifier())

tree_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=None,
                                        splitter='best'))],
         verbose=False)

In [ ]:
svc_model = make_pipeline(scaler, SVC(kernel='linear'))

svc_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='linear', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

## ¿Cuál de los algoritmos podrá decir cual es el tipo correcto de los dos pokemon?

### Impriman los Accuracy de la siguiente manera para cada modelo

In [ ]:
pd.DataFrame({"Modelo":["LogisticRegression", "RandomForest", "DecisionTree", "SVC"], 
              "Accurancy on Train":[regression_model.score(trainX, trainY), forest_model.score(trainX, trainY), tree_model.score(trainX, trainY), svc_model.score(trainX, trainY)],
              "Accurancy on Test":[regression_model.score(testX, testY), forest_model.score(testX, testY), tree_model.score(testX, testY), svc_model.score(testX, testY)]})

               Modelo  Accurancy on Train  Accurancy on Test
0  LogisticRegression            0.914397           0.926070
1        RandomForest            0.974060           0.941634
2        DecisionTree            1.000000           0.953307
3                 SVC            0.915694           0.922179

### Probemos ahora los modelos!

In [ ]:
concated_test = np.vstack((test, test2))
concated_test

array([[580.,  90.,  85., 100.,  95., 125.,  85.],
       [720., 120., 120., 120., 120., 120., 120.]])

In [ ]:
reg_y = regression_model.predict(concated_test)
forest_y = forest_model.predict(concated_test)
tree_y = tree_model.predict(concated_test)
svc_y = svc_model.predict(concated_test)

In [ ]:
pokedex['status'].unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

In [ ]:
pokedex['labeled_status'].unique()

array([2, 3, 0, 1])

In [ ]:
pd.DataFrame({"Modelo":["LogisticRegression", "RandomForest", "DecisionTree", "SVC"], 
              "Melmetal":[reg_y[0], forest_y[0], tree_y[0], svc_y[0]],
              "Arceus":[reg_y[1], forest_y[1], tree_y[1], svc_y[1]]})

               Modelo  Melmetal  Arceus
0  LogisticRegression         2       0
1        RandomForest         3       1
2        DecisionTree         3       1
3                 SVC         2       0

### ¿Alguno mejora si aplicamos CV?

Si, los conjuntos de datos de pokemones miticos, legendarios y sublegendarios tienen pocos datos y el cross validation le da una capa extra de validacion.

In [ ]:
column_filter = ['labeled_status', 'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']
features = ['total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']
filtered_pokedex = pokedex[column_filter]

In [ ]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, shuffle=True, random_state=123)
i = 1
for train_index, test_index in kf.split(filtered_pokedex):
    X_train = filtered_pokedex.iloc[train_index].loc[:, features]
    X_test = filtered_pokedex.iloc[test_index][features]
    y_train = filtered_pokedex.iloc[train_index].loc[:,'labeled_status']
    y_test = filtered_pokedex.loc[test_index]['labeled_status']
        
    #Train the model
    regression_model.fit(X_train, y_train) #Training the model
    forest_model.fit(X_train, y_train)
    tree_model.fit(X_train, y_train)
    svc_model.fit(X_train, y_train)
    print(f"Regression Accuracy for the fold no. {i} on the test set: {accuracy_score(y_test, regression_model.predict(X_test))}")
    print(f"Forest Accuracy for the fold no. {i} on the test set: {accuracy_score(y_test, forest_model.predict(X_test))}")
    print(f"Tree Accuracy for the fold no. {i} on the test set: {accuracy_score(y_test, tree_model.predict(X_test))}")
    print(f"SVC Accuracy for the fold no. {i} on the test set: {accuracy_score(y_test, svc_model.predict(X_test))}")
    i += 1

Regression Accuracy for the fold no. 1 on the test set: 0.9077669902912622
Forest Accuracy for the fold no. 1 on the test set: 0.9368932038834952
Tree Accuracy for the fold no. 1 on the test set: 0.9466019417475728
SVC Accuracy for the fold no. 1 on the test set: 0.9077669902912622
Regression Accuracy for the fold no. 2 on the test set: 0.8883495145631068
Forest Accuracy for the fold no. 2 on the test set: 0.912621359223301
Tree Accuracy for the fold no. 2 on the test set: 0.9029126213592233
SVC Accuracy for the fold no. 2 on the test set: 0.883495145631068
Regression Accuracy for the fold no. 3 on the test set: 0.9174757281553398
Forest Accuracy for the fold no. 3 on the test set: 0.9660194174757282
Tree Accuracy for the fold no. 3 on the test set: 0.9368932038834952
SVC Accuracy for the fold no. 3 on the test set: 0.9271844660194175
Regression Accuracy for the fold no. 4 on the test set: 0.9219512195121952
Forest Accuracy for the fold no. 4 on the test set: 0.9463414634146341
Tree Accuracy for the fold no. 4 on the test set: 0.926829268292683
SVC Accuracy for the fold no. 4 on the test set: 0.926829268292683
Regression Accuracy for the fold no. 5 on the test set: 0.9365853658536586
Forest Accuracy for the fold no. 5 on the test set: 0.9658536585365853
Tree Accuracy for the fold no. 5 on the test set: 0.9317073170731708
SVC Accuracy for the fold no. 5 on the test set: 0.9365853658536586

In [ ]:
cv_reg_y = regression_model.predict(concated_test)
cv_forest_y = forest_model.predict(concated_test)
cv_tree_y = tree_model.predict(concated_test)
cv_svc_y = svc_model.predict(concated_test)

In [ ]:
pd.DataFrame({"Modelo":["LogisticRegression", "RandomForest", "DecisionTree", "SVC"], 
              "Melmetal":[cv_reg_y[0], cv_forest_y[0], cv_tree_y[0], cv_svc_y[0]],
              "Arceus":[cv_reg_y[1], cv_forest_y[1], cv_tree_y[1], cv_svc_y[1]]})

               Modelo  Melmetal  Arceus
0  LogisticRegression         2       0
1        RandomForest         3       1
2        DecisionTree         3       1
3                 SVC         2       0

# Recordemos que estamos ante un problema de desbalance de clases muy intenso!

               count      mean       std  min  25%  50%  75%  max
status
Legendary       39.0  5.128205  2.202624  1.0  3.0  5.0  7.0  8.0
Mythical        29.0  4.724138  1.623412  1.0  4.0  5.0  6.0  7.0
Normal         915.0  3.925683  2.242163  1.0  2.0  4.0  5.0  8.0
Sub Legendary   45.0  4.844444  1.999495  1.0  3.0  5.0  7.0  7.0

In [ ]:
pivoted_table = pokedex.pivot_table(index=['status'])
pivoted_table

,abilities_number,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,labeled_status,labeles_status,percentage_male,pokedex_number,sp_attack,sp_defense,speed,total_points,type_number,weight_kg
status,,,,,,,,,,,,,,,,,,,,,
Legendary,1.179487,0.929487,1.307692,1.294872,0.839744,1.346154,0.826923,0.846154,0.987179,1.397436,...,0,0,NaN,607.589744,122.538462,110.615385,101.025641,679.564103,1.717949,381.386842
Mythical,1.000000,1.275862,1.293103,0.827586,1.103448,1.086207,0.965517,1.198276,1.120690,1.293103,...,1,1,NaN,573.689655,113.793103,95.172414,101.241379,594.482759,1.551724,86.824138
Normal,2.416393,0.990437,1.046448,0.966667,1.044262,1.071585,1.096175,1.136885,1.179508,0.978689,...,2,2,54.759615,419.295082,67.722404,68.518033,64.937705,415.209836,1.513661,51.715082
Sub Legendary,1.377778,0.905556,1.100000,0.977778,0.955556,1.127778,1.016667,1.088889,1.083333,1.144444,...,3,3,70.833333,577.311111,104.977778,97.422222,92.422222,581.422222,1.622222,162.382222